#node environment config
NODE_ENV=

#SERVER CONFIG
SERVER_PORT=
FRONTEND_URL=

#DB CONFIG
DB_USER=
DB_HOST=
DB_DATABASE=
DB_PASSWORD=
DB_PORT=

# JWT config
JWT_SECRET=

#Email API config
RESEND_API_KEY=
